.home {
  .home-page {
    background-image: url('../images/home_background.jpg');
    background-size: cover;
    background-position: center center;
  }

  .jumbotron {
    background-color: rgba(233, 236, 239, 0.9);
  }

  footer {
    background-color: rgba(233, 236, 239, 0.9);
    padding: 0;
    margin: 0;
  }
}


